<%= form_for(@secrettoken) do |f| %>
<% if @secrettoken.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@secrettoken.errors.count, "error") %> prohibited this secrettoken from being saved:</h2>

	<ul>
		<% @secrettoken.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%= f.select :stoken, @dropdown, :selected => '10' %>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
